body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $cba-dark;
  background-color: $cba-white;
}

.section-inner {
  @include container;
}

