@mixin btn-variant($bg, $border, $color) {
  background-color: $bg;
  border-color: $border;
  color: $color;
  transition: $transition-base;
  
  &:hover {
    background-color: darken($bg, 8%);
    border-color: darken($border, 8%);
    color: $color;
    box-shadow: $shadow-base;
  }
}

@mixin section-spacing {
  padding: $spacer-xxl 0;
}

@mixin container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding-left: $container-padding;
  padding-right: $container-padding;
}

@mixin responsive-breakpoint($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 575.98px) { @content; }
  }
  @else if $breakpoint == tablet {
    @media (max-width: 767.98px) { @content; }
  }
  @else if $breakpoint == desktop {
    @media (max-width: 991.98px) { @content; }
  }
}

